<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=p, initial-scale=1.0">
  <title>Microblog</title>
</head>
<body>
<header>
  
</header>
  <main>
    <section>
      
    </section>
    <section>
      <h1>Recent Post</h1>
      <article>
        <h2>Bit a Chill today</h2>
        <time datetime='2023-11-14'>Nov 24</time>
        <p>
          Today I couldn't do much programming, but that's OK! Can't be awesome every day
        </p>
      </article>
    </section>
  </main>
  <footer>
    
  </footer>
</body>
</body>
</html>